[user]
	name = Benjamin Linskey
	email = git@benlinskey.com
	signingkey = 838AA558
[push]
	default = simple
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[core]
    excludesfile = /home/blinskey/.gitignore_global
[merge]
	tool = vimdiff
