[user]
	name = Benjamin Linskey
	email = git@linskey.org
	signingkey = E4361B58
[push]
	default = simple
[commit]
	gpgsign = false
[gpg]
	program = gpg
[core]
    excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[tag]
	sort = version:refname
[color]
    ui = false
    diff = true
[color "decorate"]
	branch = normal
    remoteBranch = normal
    tag = normal
    stash = normal
    HEAD = normal
[color "diff"]
    commit = normal
