# Shell aliases

# Disable any system-wide ls aliases.
alias ls=ls

alias l='ls -CFA'
alias ll='ls -ahlF'

alias cp='cp -i'
alias mv='mv -i'

alias grepfor='fgrep -riIn'

alias vbm=VBoxManage

alias rg='rg --color=never'
