# Shell aliases

if type nvim >/dev/null; then
	alias vim=nvim
else
	alias vim='vim -u $HOME/.vimrc'
fi

if [ $(uname) == 'Linux' ]; then
	alias ls='ls --color=never'
fi

alias l='ls -CFA'
alias ll='ls -ahlF'

alias cp='cp -i'
alias mv='mv -i'
